/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


:root {
    --cor-negrito: #AB5CDB;
    --cor-geral: #FFFFFF;
    --cor-container: #1B1937;
    --cor-fundo: #0A0C1C;

    --fonte-um: "Inter", sans-serif;
    --fonte-dois: "Lexend Deca", sans-serif;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-geral);
    font-family: var(--fonte-um);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h4 {
    font-family: var(--fonte-dois);
}

.container {
    display: flex;
    width: 80vw;
}

.info {
    padding: 2rem 4rem 4.5rem 4.5rem;
    background-color: var(--cor-container);
    width: 50%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
}

.info__titulo {
    font-weight: 700;
    font-size: 36px;
    margin: 1em 0;
}

.info__texto {
    margin-bottom: 4em;
    opacity: 0.75;
    line-height: 25px;
}

strong {
    color: var(--cor-negrito);
}

.metricas {
    display: flex;
    gap: 4rem;
}

h3 {
    font-weight: 700;
    font-size: 24px;
}

h4 {
    font-size: 12px;
    opacity: 0.6;
    text-transform: uppercase;
}

img {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
